<div class="container-fluid">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="d-grid col-6 mx-auto">
            <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>