<ngx-skeleton-loader *ngIf="!house" count="20" appearance="line"></ngx-skeleton-loader>

<ng-container *ngIf="house">
    <p>Name: <b>{{house.name}}</b></p>
    <p>Region: {{house.region}}</p>
    <p>Coat of Arms: {{house.coatOfArms}}</p>
    <p>Banner: {{house.words}}</p>
    <p>House Titles: {{house.titles}}</p>
    <p>House Seat: {{house.seats}}</p>
    <p>Current Lord: <a
            [routerLink]="['/characters/', updateHouseInfo.currentLord.id]">{{updateHouseInfo.currentLord.name}}</a></p>
    <p>Heir: <a [routerLink]="['/characters/', updateHouseInfo.heir.id]">{{updateHouseInfo.heir.name}}</a></p>
    <p>Overlord: <a [routerLink]="['/houses/', updateHouseInfo.overlord.id]">{{updateHouseInfo.overlord.name}}</a></p>
    <p>Founder: <a [routerLink]="['/characters/', updateHouseInfo.founder.id]">{{updateHouseInfo.founder.name}}</a></p>
    <p>Founded: {{house.founded}}</p>
    <p>Ancenstral Weapons: {{house.ancestralWeapons}}</p>
    <p>Cadet Branches: -
        <ng-container *ngFor="let cadetBranch of updateHouseInfo.cadetBranches">
            <a [routerLink]="['/houses/', cadetBranch.id]">{{cadetBranch.name}}</a> -
        </ng-container>
    </p>
    <p>Sworn Members: -
        <ng-container *ngFor="let member of updateHouseInfo.swornMembers">
            <a [routerLink]="['/characters/', member.id]">{{member.name}}</a> -
        </ng-container>
    </p>
</ng-container>